body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    text-align: center;
    font-family: calibri, san-serif;
    font-weight: bolder;
}

.hex{
    text-transform: capitalize;
}

.hexColor{
    font-size: 1.8rem;
    display: block;
    
}

.hexBtn{
    background-color: black;
    color: white;
    padding: .6rem 2rem;
    text-transform: capitalize;
    border: 2px solid white;
    outline: none;
    cursor: pointer;
    border-radius: 7px;
    transition: .5s;
}

.hexBtn:hover{
    background-color: rgb(75, 74, 74);
}
